* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.componente {
    background-color: #1F1E1F;    
    padding: 20px;    
    margin: 10px;   
    border: 1px solid gray;
    border-radius: 5px; 
}

.titulo  {
    background-color: rgb(37, 109, 122);
    padding: 5px;
}